<%-include("partials/header")%>
<%-include("partials/nav")%>
<%-include("partials/logo")%>
<main class="text-white bg-neutral-800 min-h-screen pl-[15vw] py-20">

  <div class="border border-neutral-700  border-y-0 w-full min-h-[85vh] px-[2vw] py-[5vh] ">

    <div class="h-[12vh] w-[12vh] bg-neutral-600 rounded-full mb-6 overflow-hidden">
      <img src="<%=user.avatar?.url%>" alt="" class="object-center">
    </div>

    <div class="w-[30vw]">
      <h1 class="text-white text-2xl">Hye..👋 <span class="text-neutral-400"><%=user.username%></span></h1>
      <h1>Bio placeholder </h1>
      <a href="/user/settings" class="mt-6 block text-4xl"><i class="ri-settings-3-line"></i> </a>
    </div>



  </div>

</main>
<%-include("partials/footer")%>